body{
	text-align:right;
    font-family: 'Almarai', sans-serif;
}
.container h1,.container h2,.container h2.mb-5,.container h5.mb-4,.container h3,.container h4,.container h5, .container ul li, .container li , .container p, .p-3 ,.p-md-5 {
    direction: rtl!important; 
    right: 10px !important;
    text-align: right!important;
    font-family: 'Almarai', sans-serif;
  }

/* Fix Owl Carousel RTL Support */
.owl-carousel {
    direction: ltr !important;
}
.owl-carousel .owl-stage-outer,
.owl-carousel .owl-stage,
.owl-carousel .owl-item {
    direction: ltr !important;
}
  .package-card .package-head::after {
    content: "";
    width: 40px!important;
    height: 2px;
    background: #e7888c!important;
    position: absolute!important;
    right: 15px!important;
    bottom: -5px!important;
    direction: rtl!important;
    font-family: 'Almarai', sans-serif;
}
.container .shoots-Head::after, .container .shoots-Head2::after {
    content: "";
    width: 30px;
    height: 4px;
    background: #e7888c;
    position: absolute;
    right: 15px!important;
    bottom: -10px!important;
    direction: rtl!important;
    font-family: 'Almarai', sans-serif;
}
.container .shoots-Head{
    margin-bottom: 64px !important;
}
.ml-auto, .mx-auto {
    text-align: left;
    left: 10px;
}
footer.footer {
    padding-top: 4rem !important;
    padding-bottom: 1.5rem !important;
    font-family: 'Almarai', sans-serif;
}
.navbar-nav.mr-auto.mx-md-auto {
    display: block !important;
    direction: rtl !important;
    text-align: right !important;
    float: right !important;
}
.form-check label {
    padding-left: 2.5rem;
    margin-right: 50px;
}
@media (min-width: 768px){
	.navbar-nav {padding-right: 0;float: right;}
}

@media(max-width: 767px){
	.navbar-nav{padding-right:0; float: right;}
	ul.navbar-nav li.nav-item {margin-right: 0px!important;}
	
	/* RTL Mobile Menu Alignment */
	.navbar-collapse {
		text-align: right !important;
	}
	
	.navbar-nav {
		align-items: flex-end !important;
	}
}